* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F2F2F2;
    font-family: 'Poppins', sans-serif;
}

.container {
    padding: 0 15px;
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
}

.main {
    padding-top: 50px;
}

.create-account {
    background: white;
    border-radius: 5px;
}

.form {
  padding: 10px;
}

.form__title {
    color: #1C1C1C;
    padding: 15px;
    font-weight: 600;
}

.image {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 15px;
    margin-bottom: 20px;
}

.image_file {
    padding-top: 15px;
    padding-left: 20px;
    position: relative;
}

.image__desc{
    color: #969696;
    font-size: 13px;
    padding-top: 10px;
}



input[type=file], .remove-file {
    background-color: #fff;
    border: 2px solid #E4E4E4;
    height: 38px;
    border-radius: 6px;
    color: #545454;
    /*padding: 16px 32px;*/
    text-decoration: none;
    /*margin: 4px 2px;*/
}

.image_file:before{
    content: "";
    position: absolute;
    top: 28px;
    right: 50px;
    background-image: url("../image/camera.svg");
    width: 16px;
    height: 16px;
}

.remove-file {
    display: inline-block;
    vertical-align: bottom;
    width: 38px;
    padding: 8px 10px;
}

input[type='file'], input[type='reset']
{
    text-indent: -999em;
    max-width: 138px;
}

input[type='reset'] {
    border: 0;
}

.form__name-holder {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 15px;
}

.form__name-field {
    width: 225px;
    height: 38px;
    border-radius: 6px;
    border: 2px solid #E4E4E4;
}

.form__name-field:focus {
    outline: none;
    border-color:  #007BFF;
}

.form__field-text {
    padding-bottom: 5px;
    color: #545454;
}

.form__email-field {
    width: 460px;
    height: 38px;
    border-radius: 6px;
    border: 2px solid #E4E4E4;
}

.form__email {
    padding: 25px 0 15px 15px;
}

.form__email-text{
    padding-bottom: 10px;
    color: #545454;
}

.form__email-field:focus{
    outline: none;
    border-color:  #007BFF;
}

.form__email-subtitle {
    padding-top: 10px;
    font-size: 13px;
    color: #969696;
}

.gender__input {
    color: #545454;
}

.form__gender{
    margin-left: -5px;
    padding: 0 0 15px;
}

.form__country-holder {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 15px;
}

.form__country-holder span {
    margin-bottom: 5px;
    display: block;
}

.form__country-input {
    width: 225px;
    height: 38px;
    border: 2px solid #E4E4E4;
    border-radius: 6px;
}

.form__country-input:focus{
    outline: none;
    border-color:  #007BFF;
}

.button-holder {
    display: flex;
    padding-top: 10px;
    margin-bottom: 120px;
}

.btn {
    margin: 0 auto;
    padding: 10px 197px;
    cursor: pointer;
    border: 2px solid #E4E4E4;
    border-radius: 6px;
    background-color: #007BFF;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
}

.btn:hover {
    background-color: white;
    color: #007BFF;
}

.form__description {
    color: #969696;
    font-size: 13px;
    display: block;
    text-align: center;
    width: 410px;
    margin: 0 auto;
    padding: 15px 0;
}

.form__link {
    text-decoration: none;
}

.form__link:hover{
    text-decoration: underline;
}


.form__link-login {
    text-decoration: none;
    font-weight: 600;
    color: #007BFF;
}

.form__link-login:hover{
    text-decoration: underline;
}



.form_text-login {
    border-top: 1px solid #E4E4E4;
}

.form__desc {
    color: #545454;
    font-size: 13px;
    display: block;
    text-align: center;
    width: 170px;
    margin: 0 auto;
    padding: 15px 0;
}

